body {
    background-color: gray;
    color: black;
    font-family: Arial, sans-serif;

}

.container {
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    margin: 50px auto 50px auto;
    padding: 5px 30px;
    box-shadow: rgb(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
}

.container2 {
    max-width: 300px;
    background-color: white;
    border-radius: 30px;
    margin: 50px auto 50px auto;
    padding: 5px 30px;
    box-shadow: rgb(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
}

img {
    border: 2px solid;
    border-radius: 20px;
}

.nadpis {
    color: rgb(39, 39, 39);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}