body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 31, 31);
}

nav {
    background-color: rgb(66, 66, 66);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-bottom: solid 1px rgb(146, 146, 146);
}

#nav-ul {
    font-size: large;
    list-style: none;
    display: flex;
    gap: 25px;
}

#nav-ul li a {
    color: white;
    text-decoration: none;
    background-color: rgb(66, 66, 66);
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#nav-ul li a:hover {
    transition: all 0.15s ease;
    background-color: rgb(36, 36, 36);
    color: rgb(22, 230, 167);
}

#uvod {
    margin-top: 150px;
}

#uvod h1 {
    color: rgb(22, 230, 167);
    text-align: center;
    margin-top: 100px;
    text-shadow: 2px 2px 10px rgba(0, 247, 255, 0.5);
}

#uvod p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

#uvod a {
    text-align: center;
    color: rgb(18, 148, 223);
    text-decoration: underline;
}

#projekty-header {
    margin-top: 150px;
    text-align: center;
}

#projekty-header h1 {
    color: rgb(22, 230, 167);
    text-shadow: 2px 2px 10px rgba(0, 247, 255, 0.5);
}

#description {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.projekt {
    background-image: linear-gradient(to bottom, rgb(31, 31, 31), rgb(8, 8, 8));
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px rgb(196, 196, 196);
    width: 250px;
    height: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.projekt h2 {
    color: rgb(78, 190, 255);
    text-shadow: 2px 2px 10px rgba(0, 247, 255, 0.5);
    text-align: center;
    margin-bottom: 10px;
}

.projekt p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
}

.projekt img {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.projekt button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgb(18, 148, 223);
    color: white;
    border: solid 2px rgb(18, 148, 223);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projekt button:hover {
    background-color: transparent;
    transition: all 0.15s ease;
}

.wrapper {
    margin: 0 auto;
    width: 1250px;
    display: inline-flex;

}
@media (max-width: 1300px) {
    .wrapper {
        width: 100%;
        display: block;
    }
}