body {
    background-image: linear-gradient(to bottom, #4e70af, #2a5298);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#navbar {
    margin: 0 auto;
    align-items: center;
    background-color: #202020;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 5px 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}
.btn2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
    display: inline-block;
    height: 20px;
    text-decoration: none;
    color: rgb(236, 244, 255);
    transition: all 0.3s ease;
}
.btn2:hover {
    border-bottom: solid 2px rgb(0, 194, 253);
    transition: all 0.3s ease;
    transform: scale(1.05);
}
#navbar i {
    color: rgb(255, 255, 255);
}

#header {
    color: white;
}

.container_controls {
    display: flex;
    justify-content: space-evenly;

}

.container {
    color:white;
    text-shadow: #202020 1px 1px 2px, #202020 0 0 1em, #202020 0 0 0.2em;
    margin: 0 auto;
    display: block;
    padding: 10px 20px 10px 60px;
    height: 120px;
    width: 100%;
}

.container2 {
    display: block;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    background-color: #FCFAF9;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    width: 20%;
    transition: all 0.3s ease;
}

.container2:hover {
    transform: scale(1.03);
    transition: all 0.3s ease;
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.4);

}

h1 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

a.btn {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: rgb(44, 113, 216);
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    height: 20px;
    text-decoration: none;
    color: rgb(236, 244, 255);
    transition: all 0.2s ease;

}

a.btn:hover {
    background-color: rgb(19, 158, 223);
    transition: all 0.2s ease;
}

i {
    font-size: 30px;
    color: rgb(83, 118, 235);
    padding-right: 10px;
}

footer {
    display: flex;
    justify-self: center;
    margin-top: 250px;
}
.projects {
    margin: 0 auto;
    padding: 20px 0 40px 0;
}